<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Cursos{% endblock %}

{% block content %}

{% for course in courses reversed %}

    <section class="page-section">
      <div class="container">
          <div class="product-item">
          <div class="bg-white p-5 rounded">
              <div class="bg-bg-white p-5 d-flex mr-auto rounded">
                  <h2 class="text-uppercase mb-0">
                    <span class="d-block  ">
                          {{course.subtitle}}
                    </span>
                    <span class="d-block ">
                          {{course.title}}
                    </span>
                  </h2>
              </div>
          </div>
          <img class="product-item-img position-relative mx-auto d-flex rounded img-fluid mb-3"
              src="{{course.image.url}}" width="400" height="400" alt="">
          <div class="product-item-description position-relative d-flex ml-auto">
              <div class="bg-faded p-5 rounded">
                  <p class="mb-0">{{course.content}}</p>
              </div>
          </div>
          </div>
      </div>
      </section>

{% endfor %}
{% endblock %}