<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %}{% endblock %} | Bru'nails</title>
    {% load static %}

     <!-- Boostrap link -->
     <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />

    <!-- Fuentes -->
    

    
    <!-- Css stylesheet -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />


  </head>
  <body>
    <header class=" navbar fixed-header navbar-expand-lg p-md-3">
      <div class="container-fluid"> 
        <a class="navbar-brand col" href="#">
          <img  src="{% static 'core/images/logo.jpg' %}" alt="logo" width="120px" height="120px" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarDark"
            aria-controls="navbarDark"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
          <ul class="navbar-nav mx-auto mb-2 mb-xl-0 col">
            <li class="nav-item">
              <a id="link-header" class="nav-link active" aria-current="page" href="{% url 'home' %}"
                >Home </a
              >
            </li>
            <li  class="nav-item">
              <a id="link-header"class="nav-link active" href="{% url 'services' %}"
              >Servicios </a>
            </li>
            <li class="nav-item">
              <a id="link-header" class="nav-link active" href="{% url 'courses' %}">
                Cursos </a>
            </li>
            <li class="nav-item">
              <a id="link-header" class="nav-link active" aria-current="page" href="{% url 'products' %}"
                >Productos </a
              >
            </li>
            <li class="nav-item">
              <a id="link-header" class="nav-link active" aria-current="page" href="{% url 'about' %}"
                >Sobre Nosotros </a
              >
            </li>
            <li class="nav-item">
              <a id="link-header" class="nav-link active" aria-current="page" href="{% url 'contact' %}"
                >Reserve Su Cita </a
              >
            </li>
          </ul>
          
            |<ul class="navbar-nav">
              {% if not request.user.is_authenticated %}
                <li class="nav-item">
                  <a id="link-header" class="nav-link" aria-current="page" href="{% url 'login' %}" 
                    >Acceder </a
                  >
                  <li class="nav-item">
                    <a id="link-header" class="nav-link" aria-current="page" href="{% url 'signup' %}"
                      >Registro </a
                    >
                </li>

              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}"> Salir </a>
                </li>
              {% endif %}
            </ul>
            {% comment %} <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              id="staticInput"
              placeholder="Enter your email"
            /> {% endcomment %}

            {% comment %} <button id="link-header" class="btn btn-outline-light" type="submit">Login</button> {% endcomment %}
          
        </div>
      </div>
    </nav>
  </header>
        
    <!-- Contenido -->
    {% block content %} {% endblock %}

    <!-- Footer -->

  
    <footer class="footer" >

  </body>
    <footer class="footer text-faded text-center py-5" >

  </body>
    <footer class="footer text-faded text-center py-5" >

      <div class="derechos">
         <p>
          <a href="sample.html" class="link-footer">Política de privacidad</a> ·
          <a href="sample.html" class="link-footer">Aviso legal</a> ·
          <a href="sample.html" class="link-footer">Cookies</a>
         <!-- {% load pages_extras %}
          {% get_page_list as page_list %}
          {% for page in page_list %}
            <a href="{% url 'page' page.id page.title|slugify %}" class="link">{{page.title}}</a> {% if not forloop.last %}·{% endif %} 
          {% endfor %}-->
        </p>
     

        <p class="link-footer">&copy; Brun'ails 2022</p>
  
      <div class="iconos justify-content-center">

        

        <div>
          <i class="fa-brands fa-facebook  "></i>
        </div>
        <div>
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div>
          <i class="fa-solid fa-envelope"></i>
        </div>
      </div>
    </div>
      
    </footer>
    
        
       

    <!-- Boostrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    

    <!-- Iconos js -->
    <script
      src="https://kit.fontawesome.com/0149485272.js"
      crossorigin="anonymous"
    ></script>
  </body> 
</html>
