{% extends 'core/base.html' %}

{% load static %}

{% block content %}


 <!-- Primer Container - Card Container -->

    <div class="container-fluid  row p-5 primer-container">
      
      <div class="card col">
        <img
          src="{% static 'core/images/mano-card1.jpg' %}"
          class="card-img-top "
          alt="card-img-top"
        />
        <div class="card-body m-3">
          <h5 class="card-title text-center">Cursos Online</h5>
          <p class="card-text">
            Inscribete en nuestros cursos para aprender de nuestros mejores
            profesionales y asi insertarte en el mercado laboral.
          </p>
          <button  type="button"  class="btn btn-primary">Inscribete!</button>
        </div>
      </div>

      <div class="card col">
        <img
          src="{% static 'core/images/card3.jpg' %}"
          class="card-img-top"
          alt="card-img-top"
        />
        <div class="card-body m-3">
          <h5 class="card-title">Nuestros productos</h5>
          <p class="card-text">
            Visite nuestra alta gama de productos importados para poder brindar
            un servicio de alta calidad y se distingue sobre sus competidores.
          </p>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>


      <div class="card col">
        <img
          src="{% static 'core/images/mano-card2.jpg' %}"
          class="card-img-top"
          alt="card-img-top"
        />
        <div class="card-body m-3">
          <h5 class="card-title">Nuestros Servicios</h5>
          <p class="card-text">
            Ofrecemos una gran variedad de servicios desarrollados por
            profesionales con muchos años de experiencia.
          </p>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>

      <div class="suscription-container"></div>
    </div>

 <!-- Segundo container - Carousel -->

    <div
      id="carouselWithIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#carouselWithIndicators"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img
            src="./media/courses/slider1.jpeg"
            class="d-block w-100 slide-1"
            alt="Slide 1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./media/courses/slider2.jpeg"
            class="d-block w-100"
            alt="Slide 2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./media/courses/slider3.png"
            class="d-block w-100"
            alt="Slide 3"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselWithIndicators"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselWithIndicators"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

 <!-- Tercer Container - Texto y Video -->



    <div class="container-fluid p-5 tercer-container">
      <div class="row d-flex ">
        <div class="col-xl-6 d-flex-row ">
          <div class="row ">
            <h2 class="text-h-3c">
              Mire las recomendaciones de nuestros clientes
            </h2>
          </div>
          <div class="row ">
            <p class="text-p-3c">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Explicabo natus illo quasi? Cumque, eius autem?
            </p>
          </div>
          <div class="row ">
            <button class="btn btn-light">
              <a href="#">Iniciate</a>
            </button>
          </div>
        </div>
        <div
          class="col-6 align-items-center justify-content-center pt-5 video-ts"
        >
          <iframe
            class="video"
            src="#"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>















{% endblock %}






