<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<div
id="carouselWithIndicators"
class="carousel slide carousel-grande"
data-bs-ride="carousel"
>
<ol class="carousel-indicators">
  <li
    data-bs-target="#carouselWithIndicators"
    data-bs-slide-to="0"
    class="active"
  ></li>
  <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
  <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
</ol>


<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="row carousel-interior">
      <div class="col segunda-division"> 
          <h2 class="titulo-servicio">Make <br>Up<br>Service</h2>
          <p class="h5">Call: 0123 456 78901</p>
          <p class="h5 mb-4">Email Address: email@info.com</p>
          <p class="descripcion-servicio">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <button type="button" class="boton-servicio btn btn-outline-dark mb-2 py-3 px-4">Reserva una cita</button>
          <button type="button" class="boton-servicio btn btn-dark mb-2 py-3 px-4">Opiniones</button>
        </div>
      <div class="col primera-division">
        <img 
        src="{% static 'core/images/make-up.jpg' %}"
        class="d-block w-100 slide-1"
        alt="Slide 1"
      />
    </div>
    </div> 
    </div> 
  
  
  <div class="carousel-item">
    <div class="row carousel-interior">
      <div class="col segunda-division"> 
          <h2 class="titulo-servicio">Nails <br>Art<br>Service</h2>
          <p class="h5">Call: 0123 456 78901</p>
          <p class="h5 mb-4">Email Address: email@info.com</p>
          <p class="descripcion-servicio">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <button type="button" class="boton-servicio btn btn-outline-dark mb-2 py-3 px-4">Reserva una cita</button>
          <button type="button" class="boton-servicio btn btn-dark mb-2 py-3 px-4">Opiniones</button>
        </div>
      <div class="col primera-division">
        <img 
        src="{% static 'core/images/nail1.jpg' %}"
        class="d-block w-100 slide-1"
        alt="Slide 1"
      />
    </div>
    </div> 
    </div> 
   
      <div class="carousel-item">
        <div class="row carousel-interior">
          <div class="col segunda-division"> 
              <h2 class="titulo-servicio">Hair<br>Style<br>Service</h2>
              <p class="h5">Call: 0123 456 78901</p>
              <p class="h5 mb-4">Email Address: email@info.com</p>
              <p class="descripcion-servicio">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <button type="button" class="boton-servicio btn btn-outline-dark mb-2 py-3 px-4">Reserva una cita</button>
              <button type="button" class="boton-servicio btn btn-dark mb-2 py-3 px-4">Opiniones</button>
            </div>
          <div class="col primera-division">
            <img 
            src="{% static 'core/images/hairstyle.jpg' %}"
            class="d-block w-100 slide-1"
            alt="Slide 1"
          />
        </div>
        </div> 
        </div> 

</div>

<a
  class="carousel-control-prev"
  href="#carouselWithIndicators"
  role="button"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</a>
<a
  class="carousel-control-next"
  href="#carouselWithIndicators"
  role="button"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</a>
</div>
   
{% for service in services %}
{% endfor %}

{% endblock %}

