<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
   
<div class="container-fluid primer-container row p-5 g-0">
  <div class="card col">
    <img
      src="{% static 'core/images/mano-card1.jpg' %}"
      class="card-img-top "
      alt="card-img-top"
    />
    <div class="card-body m-3">
      <h5 class="card-title text-center">Servicio 1</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum eros id purus mollis porta maximus vitae justo. Suspendisse molestie egestas semper. 
      </p>
      <button type="button" class="btn btn-primary"> Reserve una cita!</button>
    </div>
  </div>

  <div class="card col">
    <img
      src="{% static 'core/images/card3.jpg' %}"
      class="card-img-top"
      alt="card-img-top"
    />
    <div class="card-body m-3">
      <h5 class="card-title">Servicio 2</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum eros id purus mollis porta maximus vitae justo. Suspendisse molestie egestas semper. 
      </p>
      <button type="button" class="btn btn-primary">Reserve una cita!</button>
    </div>
  </div>


  <div class="card col">
    <img
      src="{% static 'core/images/mano-card2.jpg' %}"
      class="card-img-top"
      alt="card-img-top"
    />
    <div class="card-body m-3">
      <h5 class="card-title">Servicio 3</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum eros id purus mollis porta maximus vitae justo. Suspendisse molestie egestas semper. 
      </p>
      <button type="button" class="btn btn-primary">Reserve una cita!</button>
    </div>
  </div>

  <div class="suscription-container"></div>
</div>


{% endblock %}