<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
  {% for service in services %}
  <section>
      <div class="primer-container">
      <div id="container2">	
        
        <!-- Start	Service details -->
          <div class="service-details">
            
            <!-- 	Service Name -->
          <h1>{{service.title}}</h1>
        
          <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
            
          
        <!-- The most important information about the Service -->
            <p class="information">{{service.content}}</p>
            <button class="btn">
              Hire        
            </button>       
        </div>
        <!-- 	End	Service details   -->
          
        <!-- 	Start Service image & Information -->
          
        <div class="service-image">
          
          <img src="{{service.image.url}}" alt="Omar Dsoky">
          
        <!-- 	Service Information-->
        <div class="info">
          <h2>The Description</h2>
          <ul>
            <li><strong> </strong>Full Sun</li>
            <li><strong>Soil Needs: </strong>Damp</li>
            <li><strong>Zones: </strong>9 - 11</li>
            <li><strong>Height: </strong>2 - 3 feet</li>
            <li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
            <li><strong>Features: </strong>Tolerates heat</li>
          </ul>
        </div>
      </div>
      </div>
    
    </section>
    {% endfor %}
    
{% endblock %}
