.banner-image {
    background-image: url(../images/pina.jpg);
    background-size: cover;
    height: 100vh;
  }

.nav-item {
    font-size: 1.4em;
    font-family: "montserrat";
    font-weight: 400;
}