<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}



<div class="small-container">
  <h1 class="title-products">Productos</h2>
  
  {% comment %} {% for product in products reversed %} {% endcomment %}
    <div class="col-4pr">
        <img src="{{ product.image.url }}" alt="">
        <h4>{{ product.title }}</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>${{ product.price }}</p>
        <p>Quedan {{ product.stock }} en stock.</p>

        {% if user.is_authenticated %}
        <p>
          <a href="{% url 'add-to-cart' product.slug %}">Agregar al carrito</a>
        </p>
        {% endif %}
    </div>


  {% comment %} {% endfor %} {% endcomment %}

  {% endblock %}



  
</div>
