<!DOCTYPE html>

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}



<div class="small-container">
  <h1 class="title-products">Productos</h2>
  <div class="row">
  {% for product in products reversed %}
    <div class="col-4">
        <img src="{{product.image.url}}" alt="">
        <h4>{{product.title}}</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>${{product.price}}</p>
    </div>


  {% endfor %}



  </div>
</div>
